$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

/// variables
$first: #ff8888;
$second: #aaf5de;
$third: #88ff88;
$fourth: rgba(75,190,130, 0.5);
$fifth: #8888ff;
$sixth: rgba(220,180,140, 0.5);
$seventh: #a9a18E;

.container{
    width:1000px;
}

.fretboard{
	background:#EaEaEa;
	margin:20px auto;
	height:270px;
	 ul{
		margin-left:-30px;
		margin-top:5px;
		padding-bottom:6px;
	}
	 li{
		padding:4px 39px;
		display:inline-block;
		list-style: none;
		width:30px;
		border-bottom:1px solid grey;
		font-size: 14px;

	}
	input{
		float:left;
		margin-left:-30px;
		width:30px;
		text-transform: uppercase;
		
	}
	span{
		font-size:10px;
		position:absolute;
		margin-left:-15px;
	}
	/* Intervals */
	.first{
		background-color: $first;
		font-weight: bold;
		font-size:16px;
	}
	.second{
		
	}
	.second-colored{
			background-color: #ff0FBF;
	}
	.third{
		background-color: $third;
		font-weight: bold;

	}
	.fourth{
		
	}
	.fourth-colored{
		background-color: $fourth
	}
	.fifth{
		background-color: $fifth;
		font-weight: bold;
	}
	.sixth{
		
	}
	.sixth-colored{
		background-color: $sixth;
	}
	.seventh{
		
	}
	.seventh-colored{
		background-color: $seventh;
	}
	.faded{
		opacity:0.3;
		font-size: 12px;
	}

}

#buttons {
	margin:20px auto;
	.glyphicon{
		cursor:pointer;
		border: 1px solid #CDCDCD;
		padding: 4px;
		float: left;
		margin-left: -33px;
		margin-top: 4px;
		border-radius: 4px;	
		font-size: 20px;
	}
	.glyphicon-minus{
		display:block;
	}
	.glyphicon-plus{
		display:none;
	}

	.checkbox{
		margin-left: 5px;
	}
	.btn{
		width:70px;
		height:50px;
		margin:5px 5px;	
		font-size: 20px;
	}
	label{
		margin-right:20px;
	}
	.to-timeline{
		font-size:14px;
		width:120px;
	}

}

.timeline{
	margin-left:5px;
	.glyphicon{
		font-size: 25px;
		color: #FFF;
		border: none;
		border-radius: 5px;
		width: 40px;
		height: 35px;
		margin-bottom: 15px;
	}

	.glyphicon-play{
		background-color: #449D44;

	}
	.glyphicon-pause{
		display:none;
		background-color: gold;
	}
	.chords{
		height:50px;
		border:1px solid #cdcdcd;
		min-width:60px;
		padding:12px 20px;
		float:left;
		font-size:20px;
		margin-bottom:10px;
	}
}

