$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.container{
    width:1000px;
}

.fretboard{
	background:#E5E5E0;
	margin:20px auto;
	height:300px;
	padding-top: 20px;
	 ul{
		list-style: none;
		margin-left:-40px;
		padding-bottom:10px;
	}
	 li{
		padding-left:66px;
		display:inline;

	}
	input{
		position:absolute;
		width:30px;
	}
}

.buttons {
	margin:20px auto;
	button{
		width:60px;
		height:50px;
		padding:0px 10px;
		margin:5px 5px;
		
	}
}

